.flex {
  display: flex;
}

.hover-list {
  width: 200px;
  max-height: 80vh;
  min-height: 200px;
  overflow-y: auto;
  overflow-x: hidden;
}

.hover-list-item {
  width: 100%;
  height: 100%;
  background-color: #fbf8e3;
  margin: 10px;
  border-radius: 5px;
  border: #fffbe1 2px solid;
  padding: 10px;
  padding-top: auto;
  padding-bottom: auto;
}

.hover-list-item p {
  font-size: 18px;
  font-weight: bold;
  color: #896d3b;
}
